In [3]:
import pystan
import numpy as np
import pandas as pd

In [4]:
# Setting sample parameters
P = 10
N =10**4

true_transmission_rate = np.random.beta(2,10,P)
true_occurrence_rate = np.random.beta(2,10,P)

data = pd.DataFrame()

for i in range(P):
    occ_label = str(i)+'_O'
    trans_label = str(i)+'_T'
    
    data[occ_label] = np.random.binomial(1,true_occurrence_rate[i], N)
    data[trans_label] = data[occ_label] * np.random.binomial(1,true_transmission_rate[i], N)
    
data

,0_O,0_T,1_O,1_T,2_O,2_T,3_O,3_T,4_O,4_T,5_O,5_T,6_O,6_T,7_O,7_T,8_O,8_T,9_O,9_T
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9998,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9999,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0